---
// Astro
import { Image } from "astro:assets";

// components
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";

// assets
import cat from "@/assets/cat.jpg";
---

<header aria-label="Introduction" class="mx-auto grid place-items-center gap-sm self-start px-md py-xl text-center">
  <Image src={cat} alt="Luffy" width={200} format="avif" class="rounded-full border-8 border-solid border-accent" />
  <Heading tagName="h3" size="h2">👋 Hi, have you met Ted?</Heading>
  <p class="max-w-[35ch]">I am a fullstack developer obsessed with quality.</p>
  <div class="flex flex-wrap justify-center gap-sm">
    <Link href="#" variant="secondary">Download CV</Link>
    <Link href="#contact">Let's Connect</Link>
  </div>
</header>
