---
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";
---

<div>
  <Heading tagName="h3" size="h2">👋 Hi, have you met Ted?</Heading>
  <Link href="#" variant="secondary">Download CV</Link>
  <Link href="#contact">Let's Connect</Link>
</div>
