---
import { Icon } from "astro-icon/components";

const navData = [
  {
    title: "Projects",
    href: "/projects",
  },
  {
    title: "Home",
    href: "/",
    icon: "logomark",
  },
  {
    title: "Writings",
    href: "/blog",
  },
];
---

<nav class="bg-base p-sm shadow-shadow">
  <ul class="gap-sm flex items-center justify-center">
    {
      navData.map((i) => (
        <li>
          <a
            href={i.href}
            aria-label={i.icon && i.title}
            class="block font-bold"
          >
            {i.icon && <Icon name={i.icon} size={48} aria-hidden="true" />}
            {!i.icon && i.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
