---
import BaseHead from "./BaseHead.astro";

import "@/styles/global.css";
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body
    class="bg-bkg text-text ml-auto mr-auto grid min-h-screen max-w-[2000px] grid-rows-[auto_1fr_auto] leading-[1.4]"
  >
    <main>
      <slot />
    </main>
  </body>
</html>
