---
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import BaseHead from "./BaseHead.astro";

import "@/styles/global.css";
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body
    class="mx-auto grid min-h-screen max-w-[2000px] grid-rows-[auto_1fr_auto] bg-bkg leading-[1.4] text-text"
  >
    <Nav />
    <main class="mt-md grid gap-md">
      <slot />
    </main>
    <Footer />
  </body>
</html>
